@charset "UTF-8";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Noto+Sans:wght@400;700&display=swap");

* {
  font-family: "Noto Sans", "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  word-break: keep-all;
  color: #fff;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../img/bg_7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  display: block;
  text-decoration: none;
}
.container {
  padding: 0 4rem;
}
div {
  padding: 3rem 0;
}
.title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}
.title_sub {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

/* info / skill / work 공통 */
.info ul,
.work ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.info ul li,
.work ul li {
  flex: 32%;
}

/* info */
.info ul li {
  padding: 0 1rem;
  margin: 1rem 0 3rem 0;
}
.info ul li p:first-child {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

/* info - animation */
@keyframes shake {
  20% {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  40% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }

  60% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  80% {
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.ani_1 {
  display: inline-block;
  animation-name: shake;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0%,
  20%,
  53%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -10px, 0) scaleY(1.1);
    transform: translate3d(0, -10px, 0) scaleY(1.1);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -5px, 0) scaleY(1.05);
    transform: translate3d(0, -5px, 0) scaleY(1.05);
  }

  80% {
    -webkit-transform: translateZ(0) scaleY(0.95);
    transform: translateZ(0) scaleY(0.95);
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  90% {
    -webkit-transform: translate3d(0, -4px, 0) scaleY(1.02);
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.ani_2 {
  display: inline-block;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

/* skill */
.skill ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skill ul li {
  text-align: center;
}

/* work */
.title_sub + p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 10px;
}
.work ul {
  align-items: center;
}
.work ul li {
  height: 80px;
  border: 1px solid #fff;
  margin: 10px 5px;
}
.work ul li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
}
.work ul li p {
  text-align: center;
}

/* contact */

.contact p:last-child {
  margin-top: 10px;
}

/* mobile */
@media screen and (max-width: 1024px) {
  .info ul li,
  .work ul li {
    flex: 100%;
  }
}
@media screen and (max-width: 800px) {
  .skill ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .skill ul li {
    flex: 100%;
  }
}

/* pc - hover */
@media (hover: hover) {
  .work ul li a:hover {
    background-color: aliceblue;
  }
  .work ul li a:hover p {
    color: #5a5a5a;
  }
}
