@charset "UTF-8";

body {
  width: 70%;
  margin: 0 auto;
  padding-top: 30px;
  word-break: keep-all;
}
div {
  margin-bottom: 2rem;
}
.project {
  font-size: 2rem;
  font-weight: bold;
}
.tit {
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #0000000f;
}
.tit + p {
  padding-left: 20px;
}
.img {
  display: flex;
}
img {
  width: calC(50% - 10px);
  padding: 0 5px;
  margin-bottom: 10px;
}
